@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Potta+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f172a;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60rem;
  margin-top: 8rem;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.main-content {
  grid-column: 1 / 2;
  margin-right: 1rem;
}

.additional-info {
  flex-direction: column;
  grid-column: 2 / 3;
  width: auto;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex: column;
}

#gambar-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#gambar-container img {
  max-width: 100%;
  max-height: 100%;
}

#nasihat-container {
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

#nasihat-container p {
  font-size: 16px;
  line-height: 1.5;
}
#minititle {
  background-color: lightblue;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.inputs input {
  outline: none;
  height: 30px;
}

#hasil {
  font-size: 20px;
  text-align: center;
  color: lightblue;
}

.calcBtn {
  width: 100%;
  padding: 8px 0;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
  background: #2563eb;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

#pesan {
  text-align: center;
}
